* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ellipsis.l5 {
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
}

.custom-anchor-class {
  color: #2196f3;
}

.justified {
  text-align: justify;
}
